 ---
layout: not_homepage
 ---

{% include quote.html quote=page.quote author=page.author %}
 <div class="project_list">
  <h2 class="heading center">Personal Projects</h2>
<!--  {% for project in site.data.projects %}-->
<!--    {% include project_box.html %}-->
<!--  {% endfor %}-->
  <ul class="fa-ul">
    <li><span class="fa-li"><i class="fa fa-square"></i></span><a href="https://datatalks.club/blog/ml-deployment-lambda.html">Containerized ML deployment with AWS Lambda</a> for <a href="https://datatalks.club/">DataTalks.Club</a></li>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fa fa-circle"></i></span>Workshop: <a href="https://www.youtube.com/watch?v=79B8AOKkpho">Serverless Machine Learning Deployment with AWS</a></li>
      <li><span class="fa-li"><i class="fa fa-circle"></i></span>Medium: <a href="https://sejalv.medium.com/containerized-ml-deployment-with-aws-lambda-680540fb92f4">Containerized ML deployment with AWS Lambda</a></li>
    </ul>
    <li><span class="fa-li"><i class="fa fa-square"></i></span><a href="https://www.dataengineering.academy/pipeline-data-engineering-academy-blog/idataengineer-confessions-interview-003">Data Engineering Confessions</a>: Podcast interview for <a href="https://www.dataengineering.academy/">Pipeline Data Engineering Academy</a></li>
    <li><span class="fa-li"><i class="fa fa-square"></i></span><a href="https://towardsdatascience.com/sql-in-a-nutshell-part-1-basic-real-world-scenarios-33a25ba8d220">SQL in a Nutshell</a>: Article published in <a href="https://towardsdatascience.com">Towards Data Science</a></li>
  </ul>
</div>
<br><br>
<h5 align="center">NOTE: UI of this page is under construction</h5>

<!--<div class="project_list">-->
<!--  <h2 class="heading center">Personal Projects</h2>-->
<!--  {% for project in site.data.projects %}-->
<!--    {% include project_box.html %}-->
<!--  {% endfor %}-->
<!--</div>-->

<!--<div class="projects-bottom center-align">-->
<!--  <h1 class="heading">TBD</h1>-->
<!--  <h1 class="heading">Have questions, comments, feedback? Feel free to reach out!</h1>-->
<!--  <div class="row">-->
<!--    <div class="col m6 offset-m3 s12">-->
<!--      <div class="row">-->
<!--        <div class="col s6">-->
<!--          <a href="/contact"><button type="button" class="fill col s12" name="button">contact</button></a>-->
<!--        </div>-->
<!--        <div class="col s6">-->
<!--          <button type="button" class="fill col s12" id="scroll-top" title="scroll back top" name="button">scroll back top</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
