<head>
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="600" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:title" content="Sejal Vaidya" />
  <meta property="og:description" content="Analyst & Writer" />
  <meta property="og:image" content="https://sejalvaidya.com/assets/images/resume.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
  <title>{{site.title}}</title>
</head>
